<!-- 
	paginationSize:页面显示分页数量.
	current:当前页码,spring-data-jpa的page对象是从0开始,所以要加1.
	begin:起始页参数,当前数量减去paginationSize/2
	end:结束页参数,起始页+页面分页数量-1
	thymeleaf函数链接:
	http://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html
 -->
<nav th:fragment="pageable">

	<ul class="pagination"
		th:with="paginationSize = 5,
					current = ${ pages.number + 1},
					beginTemp = ${#numbers.formatInteger(current - paginationSize/2,1,'POINT')},
					begin = ${beginTemp} > 1 ? ${beginTemp} : '1',
					endTemp = ${begin} + ${paginationSize} - 1,
					end = ${#numbers.formatInteger(endTemp,1,'POINT')} < ${pages.totalPages} ? ${#numbers.formatInteger(endTemp,1,'POINT')} : ${pages.totalPages <1 ?  1: pages.totalPages}">

		<li th:class="${pages.isFirst() ? 'disabled' : ''}"><a
			th:href="@{.(page=0)} + '&' + ${searchParams}" href="#">First</a></li>

		<li th:class="${pages.hasPrevious() ? '' : 'disabled'}"><a
			th:href="@{.(page=${pages.number - 1 <= 0 ? 0 : pages.number - 1})} + '&' + ${searchParams}"
			href="#">&laquo;</a></li>

		<li th:each="i : ${#numbers.sequence(begin,end)}"
			th:class="${iStat.current == current ? 'active' : ''}"><a
			th:text="${iStat.current}"
			th:href="@{.(page=${iStat.current - 1})} + '&' + ${searchParams}"
			href="#">1</a></li>

		<li th:class="${pages.hasNext() ? '' : 'disabled'}"><a
			th:href="@{.(page=${pages.number >= pages.totalPages-1 ? pages.totalPages-1 : current})} + '&' + ${searchParams}"
			href="#">&raquo;</a></li>

		<li th:class="${pages.isLast() ? 'disabled' : ''}"><a
			th:href="@{.(page=${pages.totalPages - 1})} +'&' + ${searchParams}"
			href="#">Last</a></li>

		<li class="disabled"><a href="#">共<span
				th:text="${pages.totalElements}">0</span>条 <span
				th:text="${pages.totalPages}">0</span>页
		</a></li>

	</ul>
</nav>