<div class="col-xs-4 col-sm-2" id="sidebar" th:fragment="sidebar">

	<div class="list-group">

		<a th:href="@{/executeLog/}" id="executeLog"
			class="list-group-item">脚本执行</a> <a href="#"
			class="list-group-item">Link</a> <a href="#" class="list-group-item">Link</a>
		<a href="#" class="list-group-item">Link</a> <a href="#"
			class="list-group-item">Link</a> <a href="#" class="list-group-item">Link</a>
		<a href="#" class="list-group-item">Link</a> <a href="#"
			class="list-group-item">Link</a> <a href="#" class="list-group-item">Link</a>
	</div>

</div>